.accounts-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top:20px ;

}
.account-card{
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 8px;
}
.account-card h2{
    font-size: 16px;
    font-weight: normal;
    margin-left: 10px; 

}

.top-account-card{
    border-bottom: 1px solid #ccc;
    background-color: var(--secondary);
    color: #fff;
    margin: 0px;
    padding: 1px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.bottom-account-card{
    padding: 8px;
    text-align: right;
}
.bottom-account-card h1{
    font-weight: normal;
    font-size: 24px;
}
.bottom-account-card p{
    font-weight: 200;
    
}

@media (max-width: 600px) {
    .account-card {
      width: 350px;
    }
  }