/* dashbord Page */

.top-row{
    display: flex;
    gap: 20px;
    width: 100%;
}
.metrix-pair{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}


/* dashbord elements  */
.single-card{
    margin-top: 10px;

}
.metrix-container{
    border:  1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    background-color: #ffffff;
    

}

.metrix-container a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 12px;
}

.metric-icon {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}
.metric-top{
    display: flex;
    justify-content: space-between;
}

/* Sales card */
.sales-today-container {
    border:  1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    max-height: 300px;
}
/* .sales-table{
    table-layout: fixed;
    padding: 10px;

} */
.sales-table thead{
    background-color: rgba(238, 240, 246, 1);
    padding: 10px;
    border-radius: 6px;
}

.shortcuts{
    margin-top: 10px;
    margin-bottom: 20px;
}
.shortcuts a{
    text-decoration: none;
    
}

/* Default styling for mobile: display controls in a row */
.controls {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
  }
  .controls input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  /* On larger screens, stack the select and date input vertically */
  @media (min-width: 768px) {
    .controls {
      flex-direction: column;
      align-items: flex-start;
    }
    
    /* Optional: Add spacing to the date input when stacked */
    .custom-date-picker {
      margin-top: 10px;
    }
  }
  

@media (max-width: 768px) {
    .metrix-container{
        width: 320px !important;
    }
    .metrix-pair{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }
    .top-row{
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
    .low-stock-container{
        width: 320px !important;

    }
    
  }

