/* dashbord Page */

.top-row{
    display: flex;
    gap: 20px;
    width: 100%;
}
.metrix-pair{
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.metrix-container select{
    padding: 10px;
}

/* dashbord elements  */
.dashord-top-part{
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

.dashord-top-part h2{
    font-size: 20px;
}
.single-card{
    margin-top: 10px;

}
.metrix-container h1{
    font-size: 20px;
}
.metrix-container{
    border:  1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    width: 210px;
    background-color: #ffffff;
    

}
.metrix-container p{
    font-size: 14px;
    padding: 10px 0 10px 0;
    
}
.metrix-container a{
    text-decoration: none;
    color: var(--secondary);
    font-size: 13px;
}

.metric-icon {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 8px;
}
.metric-top{
    display: flex;
    justify-content: space-between;
}

/* Sales card */
.sales-today-container {
    border:  1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 80%;
    max-height: 300px;
}
/* .sales-table{
    table-layout: fixed;
    padding: 10px;

} */
.sales-table thead{
    background-color: rgba(238, 240, 246, 1);
    padding: 10px;
    border-radius: 6px;
}

.shortcuts{
    margin-top: 10px;
    margin-bottom: 20px;
}

.shortcuts a{
    text-decoration: none;
    border: 1px solid var(--primary);
    border-radius: 8px;
    padding: 10px;
    
}
.shortcuts a:hover{
    background-color: var(--primary);
    color: #ffffff;
}

.stock-level-container{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 15px;
     max-height: 400px;
  overflow-y: auto;    /* Enables vertical scrollbar */
  overflow-x: auto;    /* Enables horizontal scrollbar if content overflows */
  width: 300px;
}
.stock-level-container h3{
    font-weight: 200;
    font-size: 16px;
}
.stock-level-container a { 
    text-decoration: none;
    color: var(--secondary);
    font-size: 14px;
}


.stock-level-pagination{
    display: flex;
    gap: 5px;
    justify-content: center;
padding: 10px;
}

.stock-level-pagination button{
    border: 1px solid var(--primary);
    background-color: white;
    border-radius: 3px;
}

.long-data-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* Default styling for mobile: display controls in a row */
.controls {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    gap: 10px;
  }
  .controls input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

.metric-amount li{
    list-style: none;
    border-bottom: 1px #ccc solid;
    padding : 5px 0px 5px 0;
    font-size: 14px;

    
}
.metric-amount ul{
 padding: 0;
margin: 0;
   margin-top: -12px;
    text-align: left;
}
.two-routes-dashbord{
    display: flex;
    justify-content: space-between;
}
  
  /* On larger screens, stack the select and date input vertically */
  @media (min-width: 768px) {
    .controls {
      flex-direction: column;
      align-items: flex-start;
    }
    
    /* Optional: Add spacing to the date input when stacked */
    .custom-date-picker {
      margin-top: 10px;
    }
  }
  

@media (max-width: 768px) {
    .metrix-container{
        width: 356px !important;
    }
    .financial-card{
        width: 320px !important;

    }
    .metrix-container a{
        text-decoration: none;
        color: var(--secondary);
        font-size: 16px;
    }
    .metrix-container p {
        font-size: 18px;
    }
    .metrix-container h1{
        font-size: 28px;
    }
    .metrix-pair{
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }
    .top-row{
        display: flex;
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }
    .stock-level-container{
        width: 100%;
    }
    .low-stock-container{
        width: 320px !important;

    }
    
  }
