
  
 .expenses-container h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .expenses-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .expenses-table th, .expenses-table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }
  
  .expenses-table th {
    font-size: 14px;
    background-color: var(--background);
  }
  


  .employee-info {
    display: flex;
    align-items: center;
  }
  
  .employee-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
   
    margin-right: 10px;
  }
  
  .employee-name {
    font-weight: normal;
    font-size: 16px;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-button {
    border: 1px solid #3498db;
    background-color: #fff;
    border-radius: 50%;
    color: #3498db;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #3498db;
    color: #fff;
  }
  
  .page-button:hover {
    background-color: #3498db;
    color: #fff;
  }
  

  /* form styling ro alss */
  .message {
    padding: 16px;
    margin-bottom: 16px;
  }
  .success {
    background-color: #d4edda;
    color: #155724;
    width: 40%;
  }
  .error {
    background-color: #f8d7da;
    color: #721c24;
    width: 40%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .select, .input, .button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
  }
  .select.valid {
    color: #000;
  }
  .error-text {
    color: #ff0000;
    margin-top: 8px;
  }
  .button {
    background-color: var(--primary);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width: 20%;
  }

  .button:hover{
    background-color: #4A2B84;
   
  }
  

  .suggestions {
    border: 1px solid #ccc;
    background: white;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    position: absolute;
    z-index: 1000;
    width: 30%;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background-color: #f0f0f0;
  }
  