/* General styles remain unchanged */

.login-container { 
  margin: 0 auto;
  width: 25%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.login-form p {
  font-size: 10px;  
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form input {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form label {
  margin-bottom: 10px;
}

.submit-button {
  background-color: var(--primary);
  padding: 10px;
  border-radius: 16px;
  border: 1px solid #ffffff;
  font-size: 18px;
  color: #ffffff;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* Full-screen center */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.password-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input-field {
  width: 90%;
 
}

.show-hide-button {
  position: absolute;
  right: 8px;
  top: 15px;
  background: none;
  border: none;
  color: var(--primary);
  cursor: pointer;
  font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .login-container {
      width: 50%; /* Adjust width for tablets */
      padding: 15px;
  }

  .submit-button {
      font-size: 16px;
      padding: 8px;
  }
}

@media (max-width: 480px) {
  .login-page{
    min-height: 80vh;
  }
  .login-container {
      width: 80%; /* Adjust width for small screens */
      padding: 10px;
      
  }

  .login-form input {
      padding: 10px; /* Smaller padding for inputs */
  }

  .submit-button {
      font-size: 14px;
      padding: 6px;
  }

  .show-hide-button {
      font-size: 12px; /* Adjust button size for smaller screens */
  }
}
