.stock-container {
    width: 98%;
    margin: 0 auto;
    padding: 20px;
  }
  
 .stock-container h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .stock-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .stock-table th, .expenses-table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 14px;
  }
  
  .stock-table th {
    font-size: 14px;
    background-color: var(--background);
  }
  

  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-button {
    border: 1px solid #3498db;
    background-color: #fff;
    border-radius: 50%;
    color: #3498db;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .page-button.active {
    background-color: #3498db;
    color: #fff;
  }
  
  .page-button:hover {
    background-color: #3498db;
    color: #fff;
  }
  