.header-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .date-picker{
  
    padding: 10px;
    border: 1px solid  #ccc;
    border-radius: 6px;
  
  }
  .actions select {
    padding: 10px;
    border: 1px solid  #ccc;
    border-radius: 6px;
    background-color: #fff;
  
  }
  .actions button {
    margin-left: 10px;
    background-color: var(--primary);
    padding: 10px;
    border: 1px solid  #ccc;
    border-radius: 6px;
    color: #fff;
  }
  .actions-container{
    display: flex;
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .add-button{
    background-color: var(--primary);
    padding: 10px;
    border: 1px solid  #ccc;
    border-radius: 6px;
    color: #fff;
  }
  
  .add-button:hover{
    background-color: #4A2B84;
  
  }
  .header-container a{
    text-decoration: none;
    color: #fff;
  }
  .header-container h1{
    margin: 0;
  }
    
   .singleshopstock-container h2 {
      text-align: left;
      margin-bottom: 20px;
      font-weight: 400;
    }
    
    .error-message {
      color: red;
      text-align: center;
    }
    
    .singleshopstock-table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    
    .singleshopstock-table th, .singleshopstock-table td {
      border-bottom: 1px solid #ccc;
      padding: 10px;
      text-align: left;
      font-size: 14px;
    }
    
    .singleshopstock-table th {
      font-size: 14px;
      background-color: var(--background);
    }
    
  
    
    .pagination {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
    
    .page-button {
      border: 1px solid #3498db;
      background-color: #fff;
      border-radius: 50%;
      color: #3498db;
      padding: 10px 15px;
      margin: 0 5px;
      cursor: pointer;
    }
    
    .page-button.active {
      background-color: #3498db;
      color: #fff;
    }
    
    .page-button:hover {
      background-color: #3498db;
      color: #fff;
    }
    
  
    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    
    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 5px;
      width: 300px;
     
    }
    .modal-select{
      padding: 5px;
      width: 50%;
    }
  
    .modal-content label {
      display: block;
      margin: 10px 0 5px;
    }
    .modal-content input {
      padding: 5px;
      margin-bottom: 15px;
    }
    .modal-content button {
      margin: 0 5px;
    }
    
  
.edit-sale-form{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}
.edit-sale-form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.payment-date-form{
  margin-top: 10px;
}


/* media query */
@media (max-width: 768px) {
  .edit-sale-form{
    width: 100%;
  }
  .sale-details-table{
    width: 100%;
  }
}