.Page-continer {
  display: flex;
  height: 100vh;
  overflow-y: auto; /* Allows the sticky element to work within the viewport */
}

.navigation {
  width: 15%;
  padding: 20px;
  min-height: 100vh;
  border-right: 1px solid #ccc;
  position: sticky;
  top: 0; /* Keeps it at the top while scrolling */
  align-self: flex-start; /* Helps maintain sticky position within flex layout */
}

.body-area {
  width: 85%; /* Adjusts the width to avoid overflow issues */
}

.body-header {
  border-bottom: 1px solid #ccc;
  
}

.page-area {
  padding: 20px;
 
}

/* page not found */
.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
  color: #343a40;
  font-family: Arial, sans-serif;
}

.error-code {
  font-size: 10rem;
  margin: 0;
}



.home-link {
  padding: 10px 20px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
  transition: 0.3s;
}

.home-link:hover {
  background-color: var(--primary);
  color: #fff;
}

@media (max-width: 768px) {
  .navigation{
    display: none;
  }
  .body-area{
    width: 100%;
  }

}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
  border: 3px solid #0000;
  border-radius: 50%;
  border-right-color: var(--primary);
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  
}

.modal-content {
  width: 20%;
  background: #fff;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content input select{
  width: 100%;
}

.yes-button {
  border: 1px solid #cccc;
  padding: 10px;
  border-radius: 4px;
  background-color:var(--primary);
  color: white;
}

.cancel-button {
  background-color: #ffffff;
  border: 1px solid #cccc;
  color: black;
}


/* date picker  */
.date-range-picker {
  position: relative;
  display: inline-block;
}

.select-period-btn {
  display: flex;
  align-items: left;
  gap: 10px;
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 10px ;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ffffff;
  
}
.confirm-btn-date{
  background-color: var(--primary);
  color: white;
  padding: 5px;
  margin-top: 5px;
  border: none;
  border-radius: 5px;
}

.date-picker-container {
  position: absolute;
  top: 50px;
  left: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  z-index: 100;
}

/* Adjust the position for mobile devices */
@media (max-width: 768px) {
  .date-picker-container {
    left: auto;
    right: 0; /* Align to the right on mobile */
  }
}


/* tabs  */
.tabs-container {
  display: flex;
  justify-content: left;
  position: relative;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 30px;
}

.tab-button {
  position: relative;
  text-align: left;
  padding: 10px 20px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;

}

.tab-button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.tab-button.active::after {
  width: 50%;
  left: 25%;
  background-color: var(--primary); /* Change this to match your theme */
}
