.Page-continer{
  display: flex;
}

.navigation{
  width: 15%;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #ccc;
  position: sticky;
}
.body-area{
  width: 100%;
}
.body-header{
  
  border-bottom: 1px solid #ccc;

}
.page-area{
  padding: 20px;
}
.clerk-page-continer{
  display: flex;
}
