body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
 
:root{

  --primary:#8850F1;
  --Static: #ffffff;
  --background: #EEF0F6;
  --secondary:#507DF2;
}

